<div class="grid align__item">
  <div class="signup">
    {{!-- <svg xmlns="http://www.w3.org/2000/svg" class="site__logo" width="56" height="84" viewBox="77.7 214.9 274.7 412"><defs><linearGradient id="a" x1="0%" y1="0%" y2="0%"><stop offset="0%" stop-color="#8ceabb"/><stop offset="100%" stop-color="#378f7b"/></linearGradient></defs><path fill="url(#a)" d="M215 214.9c-83.6 123.5-137.3 200.8-137.3 275.9 0 75.2 61.4 136.1 137.3 136.1s137.3-60.9 137.3-136.1c0-75.1-53.7-152.4-137.3-275.9z"/></svg> --}}
    <img src="../images/trippy-ss.gif" class="ss-logo">
    <h4>Sign Up</h4>
    <form action="/signup" method="POST" class="form" enctype="multipart/form-data">
      
      <input name="photo" type="file" id="set-profile-picture" class="fancy-input" required>

      <div class="form__field"> 
        <input type="text" name="fname" placeholder="First Name">
      </div>

      <div class="form__field"> 
        <input type="text" name="lname" placeholder="Last Name">
      </div>
      
      <div class="form__field"> 
        <input type="email" name="username" placeholder="email">
      </div>

      <div class="form__field">
        <input type="password" name="password" placeholder="password">
      </div>

      {{#if message}}
        <div class="error-message">{{ message }}</div>
      {{/if}}

      <div class="form__field">
        <input type="submit" value="Sign Up">
        <a href="/login">Already have an Account? Log In</a>
      </div>
    </form>
  </div>
</div>