<div class="new-trip-container">
  <h1 id="new-trip-title">Edit '{{trip.title}}'</h1>

  <form class="new-trip-form" action="/edit-trip/{{trip.id}}" method="POST" enctype="multipart/form-data">
    <div class="group">      
      <input name="tripName" type="text" class="fancy-input" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Trip Title</label>
    </div>
      
    <div class="group">      
      <input name="location" type="text" class="fancy-input" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Location</label>
    </div>

    <div class="group">      
      <input name="description" type="text" class="fancy-input" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Description</label>
    </div>

    <div class="group">      
      <input name="difficulty" type="text" class="fancy-input" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Difficulty</label>
    </div>

    <div class="group">      
      <input name="photo" type="file" class="fancy-input" required>
      <span class="highlight"></span>
      <span class="bar"></span>
    </div>
    <button type="submit">Edit</button>
  </form>
</div>

<script>
  window.onload = function(){
    document.getElementById("company_name").value = "value";
  }
</script>