<div class="profile-container">
  <h2 class="profile-title">Profile</h2>
  <img src="{{user.profilePicture}}" class="profile-picture">
  <h6>First Name:</h6>
  <p>{{user.fname}}</p>
  <h6>Last Name:</h6>
  <p>{{user.lname}}</p>
  <h6>Email</h6>
  <p>{{user.username}}</p>
  <form action="/logout" method="GET">
    <button type="submit">Log Out</button>
  </form>
</div>
  