<div class="container trip-container">
  <h2 class="trip-title">{{surfTrip.title}}</h2>
  <img src="{{surfTrip.picture}}" class="trip-page-image">
  <p class="trip-location">{{surfTrip.location}}</p>

  <div class="trip-page-info">
    <h6>Description</h6>
    <p>Yooo come join us in this sick adventure. We are looking for more people because we are trying to rent a 5 bedroom house for the week.
      The house is right on the beach. We are a group of friends from Miami. Been surfing for about 10 years now but don't care how good you
      surf. Join if interested to send you the link for the Airbnb.
    </p>
    <button>Join Squad to Message</button>
  </div>

</div>