body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

nav {
  background-color: #354152;
  color: white; }

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.navbar-nav {
  margin-right: 50px; }

.navbar-brand {
  margin-left: 50px; }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  color: #7e8ba3;
  font: 300 1rem/1.5 Helvetica Neue, sans-serif;
  margin: 0;
  min-height: 100%; }

body.show {
  background-image: url("../images/california.jpg");
  background-size: cover; }

.align {
  align-items: center;
  display: flex;
  flex-direction: row; }
  .align__item--start {
    align-self: flex-start; }
  .align__item--end {
    align-self: flex-end; }

.site__logo {
  margin-bottom: 2rem; }

input {
  border: 0;
  font: inherit; }
  input::placeholder {
    color: #7e8ba3; }

.form__field {
  margin-bottom: 1rem; }

.form input {
  outline: 0;
  padding: .5rem 1rem; }
  .form input[type="email"], .form input[type="password"], .form input[type="text"] {
    width: 100%; }

.grid {
  margin: 0 auto;
  max-width: 25rem;
  width: 100%; }

h2 {
  font-size: 2.75rem;
  font-weight: 100;
  margin: 0 0 1rem;
  text-transform: uppercase; }

svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

a {
  color: #7e8ba3; }

.login {
  background-color: white;
  border-radius: 35px;
  box-shadow: 0 0 250px #000;
  text-align: center;
  padding: 4rem 2rem; }
  .login input {
    border: 0.5px solid #CCCCCC;
    border-radius: 999px;
    background-color: transparent;
    text-align: center; }
    .login input[type="email"], .login input[type="password"] {
      background-repeat: no-repeat;
      background-size: 1.5rem;
      background-position: 1rem 50%; }
    .login input[type="email"] {
      background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#242c37"><path d="M256.017 273.436l-205.17-170.029h410.904l-205.734 170.029zm-.034 55.462l-205.983-170.654v250.349h412v-249.94l-206.017 170.245z"/></svg>'); }
    .login input[type="password"] {
      background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#242c37"><path d="M195.334 223.333h-50v-62.666c0-61.022 49.645-110.667 110.666-110.667 61.022 0 110.667 49.645 110.667 110.667v62.666h-50v-62.666c0-33.452-27.215-60.667-60.667-60.667-33.451 0-60.666 27.215-60.666 60.667v62.666zm208.666 30v208.667h-296v-208.667h296zm-121 87.667c0-14.912-12.088-27-27-27s-27 12.088-27 27c0 7.811 3.317 14.844 8.619 19.773 4.385 4.075 6.881 9.8 6.881 15.785v22.942h23v-22.941c0-5.989 2.494-11.708 6.881-15.785 5.302-4.93 8.619-11.963 8.619-19.774z"/></svg>'); }
    .login input[type="submit"] {
      background-color: #8ceabb;
      border: 0;
      color: #fff;
      margin-bottom: 1rem;
      width: 100%; }

.signup {
  background-color: white;
  border-radius: 35px;
  box-shadow: 0 0 250px #000;
  text-align: center;
  padding: 2rem 2rem; }
  .signup input {
    border: 0.5px solid #CCCCCC;
    border-radius: 999px;
    background-color: transparent;
    text-align: center; }
    .signup input[type="email"], .signup input[type="password"] {
      background-repeat: no-repeat;
      background-size: 1.5rem;
      background-position: 1rem 50%; }
    .signup input[type="email"] {
      background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#242c37"><path d="M256.017 273.436l-205.17-170.029h410.904l-205.734 170.029zm-.034 55.462l-205.983-170.654v250.349h412v-249.94l-206.017 170.245z"/></svg>'); }
    .signup input[type="password"] {
      background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="#242c37"><path d="M195.334 223.333h-50v-62.666c0-61.022 49.645-110.667 110.666-110.667 61.022 0 110.667 49.645 110.667 110.667v62.666h-50v-62.666c0-33.452-27.215-60.667-60.667-60.667-33.451 0-60.666 27.215-60.666 60.667v62.666zm208.666 30v208.667h-296v-208.667h296zm-121 87.667c0-14.912-12.088-27-27-27s-27 12.088-27 27c0 7.811 3.317 14.844 8.619 19.773 4.385 4.075 6.881 9.8 6.881 15.785v22.942h23v-22.941c0-5.989 2.494-11.708 6.881-15.785 5.302-4.93 8.619-11.963 8.619-19.774z"/></svg>'); }
    .signup input[type="submit"] {
      background-color: #8ceabb;
      border: 0;
      color: #fff;
      margin-bottom: 1rem;
      width: 100%; }

.ss-logo {
  height: 120px;
  margin-bottom: 15px;
  width: 120px; }

.error-message {
  color: red;
  margin-bottom: 10px; }

#set-profile-picture {
  border: 0;
  margin-bottom: 15px; }

.homepage-title {
  text-align: center;
  margin-bottom: 20px; }

.add-trip {
  display: flex;
  margin-top: 20px; }

#add-trip-button-text {
  color: black;
  font-weight: 500;
  padding: 8px 0 8px 5px; }

.trip-title-home {
  margin-bottom: 0; }

.col-lg-4 {
  margin-bottom: 20px; }

.trip-overview-image {
  height: 200px;
  width: 100%; }

.trip-title-home, .trip-level-home {
  text-align: center; }

.trip-link-home:hover {
  opacity: 0.8; }

.trip-title {
  font-weight: 200;
  margin-top: 20px;
  text-align: center; }

.trip-container {
  text-align: center; }

.trip-page-image {
  height: auto;
  width: 60%; }

.trip-page-info {
  color: black;
  margin: auto;
  text-align: left;
  width: 60%; }

.members-list {
  display: inline-flex;
  max-width: 100%;
  padding: 0;
  list-style-type: none; }

.members-list-item {
  padding: 0 8px; }

.own-action-buttons {
  display: flex;
  margin-top: 20px; }

.delete-trip {
  margin-right: 10px; }

.members-title {
  margin-top: 20px; }

.no-members {
  margin-top: 20px;
  margin-bottom: 20px; }

.already-member {
  margin-bottom: 20px; }

.member-name {
  margin-right: 15px; }

.new-trip-container {
  margin: auto;
  width: 60%; }

#new-trip-title {
  margin: 25px 0 35px 0; }

.group {
  position: relative;
  margin-bottom: 45px; }

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 600px;
  border: none;
  border-bottom: 1px solid #757575; }

input:focus {
  outline: none; }

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 600px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

.fancy-input {
  width: 100%; }

#select-beds {
  display: flex;
  margin-bottom: 15px; }

.bed-selection {
  margin-left: 15px; }

.profile-container {
  margin: auto;
  width: 25%; }

.profile-title {
  margin-top: 40px;
  text-align: center; }

.profile-picture {
  border-radius: 50%;
  height: auto;
  margin: 0 10% 20px 10%;
  text-align: center;
  width: 80%; }

.my-trips-title {
  margin: 20px 0;
  text-align: center; }

.new-message-form {
  margin-top: 20px; }

.new-message-text {
  height: 200px;
  width: 100%; }

#new-message-title {
  margin-bottom: 30px; }

/* Landscape phones and down */
@media (max-width: 480px) {
  .profile-container {
    width: 80%; }
  .trip-page-info, .trip-page-image {
    width: 100%; }
  .new-trip-container {
    margin: 0;
    width: 100%; }
  #new-trip-title {
    text-align: center; }
  .container {
    padding: 0; } }

/*# sourceMappingURL=style.css.map */